.wrapper {
  display: flex;
  height: 195px;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: space-between;
}
h1 {
  font-size: 54px;
  font-weight: 600;
}
h3 {
  font-size: 32px;
  font-weight: 600;
}
p {
  font-size: 18px;
  color: gray;
}
.containerTwo {
  border-left: 1px solid gray;
  flex: 2;
  text-align: star;
  padding-left: 100px;
}
.containerOne {
  flex: 2;
}
