.wrapper {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}
.container1 {
  flex: 2;
}
.accordionContainer {
  flex: 2;
}
.Heading {
  font-size: 54px;
  font-weight: 600;
  color: white;
}
