.wrapper {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  display: wrap;
}
.carouselWrapper {
  position: relative;
  height: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.innerContainer1 {
  text-align: center;
}
.leftNavigation {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.rightNavigation {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.heading {
  font-size: 54px;
  color: white;
  font-weight: 600;
}
